body{
  background-color: rgb(0, 0, 0);
}

/*INIZIO NAVBAR*/

.logoNav {
  background-color: #111111;
  color: white;
  border: none;
  cursor:default;
  justify-content: center;
  align-items: center;
  margin-top: 0.5vh;
  margin-left:0.3vh
}

.navbar-toggle{
  border:none;
  margin-top:3vh;
}

.navbar-brand,
.navbar-nav > li > a{
	height: 80px;
	line-height: 50px;

}

.carousel-inner > .item {min-height: 100vh; background-size: cover; background-position: center center}

.tab-pane{min-height: 300px;}

.btn-primary {
    color: #333;
    background-color: transparent;
    border-color: #333;
		border-radius: 0; border-width: 4px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.big-padding{padding: 100px 0;}

.popover {z-index: 100; border-radius: 2px; border: 1px solid #eee}
.popover-content img{height:122px;margin-bottom: 15px; width:100%;}

.panel h4{margin:0;}
.panel h4 a{display: block;background: #333;color:#fff;padding: 15px 20px;text-decoration: none;}
.panel h4 a:hover{background: #555;}
.panel-padding{padding: 20px;}

.panel-group .panel{border-radius:0;}

/*FINE NAVBAR*/

/*INIZIO ANIMAZIONI*/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.footer{background: #333; margin-top: 60px;}
.footer p{color:#fff;padding:100px;text-align: center;margin-bottom: 0}

/*FINE ANIMAZIONI*/

/*INIZIO BOTTONE BENVENUTO*/

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#buttonBenvenuto {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 20px 50px;
  border: solid 1px white;
  background: rgba(0, 0, 0, 0);
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

#buttonBenvenuto:hover {
  background: white;
  color: black;
  transition: 1s;
}

/*FINE BOTTONE BENVENUTO*/

/*INIZIO BOTTONE XML*/

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#buttonXML {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #f1a600;
  padding: 20px 50px;
  border: solid 1px #f1a600;
  background: rgba(0, 0, 0, 0);
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

#buttonXML:hover {
  background: #f1a600;
  color: black;
  transition: 1s;
}

/*FINE BOTTONE XML*/

/*INIZIO BOTTONE JSON*/

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#buttonJSON {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #848484;
  padding: 20px 50px;
  border: solid 1px #848484;
  background: rgba(0, 0, 0, 0);
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

#buttonJSON:hover {
  background: #848484;
  color: black;
  transition: 1s;
}

/*FINE BOTTONE JSON*/

/*INIZIO BOTTONE JS*/

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#buttonJS {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #fcdb00;
  padding: 20px 50px;
  border: solid 1px #fcdb00;
  background: rgba(0, 0, 0, 0);
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

#buttonJS:hover {
  background: #fcdb00;
  color: black;
  transition: 1s;
}

/*FINE BOTTONE JS*/

/*INIZIO BOTTONE REACT */

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#buttonREACT {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #5ed2ff;
  padding: 20px 50px;
  border: solid 1px #5ed2ff;
  background: rgba(0, 0, 0, 0);
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

#buttonREACT:hover {
  background: #5ed2ff;
  color: black;
  transition: 1s;
}

/*FINE BOTTONE REACT*/

/*INIZIO BOTTONE API */

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#buttonAPI {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #00c4a4;
  padding: 20px 50px;
  border: solid 1px #00c4a4;
  background: rgba(0, 0, 0, 0);
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

#buttonAPI:hover {
  background: #00c4a4;
  color: black;
  transition: 1s;
}

/*FINE BOTTONE API*/

.containerHome{
  color:white;
}

hr{
  background-color: white;
  width: 30vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/*INIZIO FOOTER*/
.container-fluid *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  height: 350px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:35vh;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
  text-decoration: none;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

#allrightsreserved{
  font-size: 15px;
  padding:20px;
}

#footerHome,
#footerXML,
#footerJSON,
#footerJS,
#footerReact,
#footerAPI{
  font-size: 17px;
}

/*FINE FOOTER*/

/*INIZIO DIV XML*/

.divXML {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #f1a500;
  padding: 20px 50px;
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-top: 8vh;
}

.divXML > p {
  color:white;
}

.divXML:hover {
  color:#f1a50071;
  transition: 0.5s;
}

/*FINE DIV XML*/

/*INIZIO DIV JSON*/

.divJSON {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #848484;
  padding: 20px 50px;
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

.divJSON > p {
  color:white;
}

.divJSON:hover {
  color:#8484846c;
  transition: 0.5s;
}

/*FINE DIV JSON*/

/*INIZIO DIV JS*/

.divJS {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fcdb00;
  padding: 20px 50px;
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

.divJS > p {
  color:white;
}

.divJS:hover {
  color: #fcda006e;
  transition: 0.5s;
}

/*FINE DIV JS*/

/*INIZIO DIV REACT */

.divREACT {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #5ed2ff;
  padding: 20px 50px;
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

.divREACT > p {
  color:white;
}

.divREACT:hover {
  color:#5ed1ff62;
  transition: 0.5s;
}

/*FINE DIV REACT*/

/*INIZIO DIV API */

.divAPI {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #00c4a4;
  padding: 20px 50px;
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

.divAPI > p {
  color:white;
}

.divAPI:hover {
  color:#00c4a377;
  transition: 0.5s;
}

/*FINE DIV API*/

/*INIZIO DIV COSA TROVI */

.divCS {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 20px 50px;
  border-radius: 30px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

.divCS > p {
  color:white;
}

/*FINE DIV COSA TROVI*/

.carouselBenvenuto{
  margin-bottom: 35vh;
  font-size: 15px;
}

/*INIZIO PROGRESS BAR*/
body {
  min-height: 200vh;
}

/* Con i dispositivi inferiori a 768px il top della progress bar sarà impostato a 75px */
@media only screen and (max-width: 768px) {
  #scroll-progress {
    position:fixed;
    top: 75px;
    width: 0%;
    height: 4px;
    background: #3586ff;
    z-index: 10000;
  }
} 

/* Con i dispositivi superiori o uguali a 768px il top della progress bar sarà impostato a 80 px */
@media only screen and (min-width: 768px) {
  #scroll-progress {
    position:fixed;
    top: 80px;
    width: 0%;
    height: 4px;
    background: #3586ff;
    z-index: 10000;
  }
}
/*FINE PROGRESS BAR*/